body {
  margin: 0;
}

main {
  margin: 16px;
}

.topbar {
  background: #3fbbc0;
  color: #fff;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7% 14.5%;
}

.navbar {
  display: flex;
  align-items: center;
  background: #fff;
  color: #3fbbc0;
  font-family: Helvetica;
  font-weight: 300;
  padding: 1.5% 13.5%;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
